body {
    color: red;
    font-size: 16px;
    font-family: Courier;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
}

head {
    color: beige;
    font-family: Georgia;
    background-color: blueviolet;
}