body {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 16px;
    font-family: arial;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
}

header {
    color: beige;
    font-family: Georgia;
    background-color: blueviolet;
}